* {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
}

header {
  background: url(https://images.pexels.com/photos/2099737/pexels-photo-2099737.jpeg?cs=srgb&dl=pexels-susanne-jutzeler-sujufoto-2099737.jpg&fm=jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
}

main {
  font-size: 0;
}

a {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 2px;
  padding: 1px;
  background-color: lightpink;
}

.info {
  color: white;
  background-color: black;
  border: 1px solid black;
  font-size: 16px;
}

.info2 {
  color: black;
  background-color: lightpink;
  border: 1px solid lightpink;
  font-size: 16px;
}

.info3 {
  display: inline-block;
  font-size: 16px;
}

.news {
  display: inline-block;
  width: 33%;
  height: 200px;
  border: 1px solid black;
  background-color: black;
  vertical-align: top;
  padding: 2px;
}
